<div id="about-container" class="about-container">
    <div class="about-card">
        <h2>Welcome to Noor Al-Qalb</h2>
        <p>This app helps you find verses from the Quran that are relevant to your feelings. Simply describe how you are feeling, and our system will use AI to analyze your text and suggest a verse for guidance and comfort.</p>
        <p><strong>Note:</strong> This app uses AI for sentiment analysis. While the model is designed to be accurate, there may be instances where it misinterprets the subtleties of your text and suggests an incorrect emotion. Please use this as a tool
            for reflection and always seek further guidance if needed.</p>
        <button id="start-button" class="start-button">Start Exploring</button>
    </div>
</div>